<div class="admin-container">
  <div class="container">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">First Name</div>
        <div class="col col-1">Last Name</div>
        <div class="col col-1">Email</div>
        <div class="col col-1">Role</div>
        <div class="col col-1">Account Locked</div>
        <div class="col col-1">Actions</div>
      </li>
      <li class="table-row" *ngFor="let user of paginatedclient.data">
        <div class="col col-1">{{user.firstname}}</div>
        <div class="col col-1">{{ user.lastname }}</div>
        <div class="col col-1">{{ user.email }}</div>
        <div class="col col-1">{{ user.role }}</div>
        <div class="col col-1">
          <i class="fa-solid fa-lock" [style.color]="user.accountLocked?'red':'green'" *ngIf="user.accountLocked"></i>
          <i class="fa-solid fa-lock-open" [style.color]="user.accountLocked?'red':'green'" *ngIf="!user.accountLocked"></i>
        </div>
        <div class="col col-1 fxRow fxAlignCenterCenter gapping">
          <i class="fa-solid fa-circle-up" (click)="Elevate(user.email)"></i>
<!--          <i class="fa-solid fa-trash" (click)="Delete(user.id)"></i>-->
        </div>
      </li>
    </ul>
  </div>
  <div class="fxRow fxAlignCenterCenter">
    <p-paginator class="w-100" *ngIf="paginatedclient.pages > 1" (onPageChange)="onClientPageChange($event)"
                 [rows]="paginatedclient.size" [totalRecords]="paginatedclient.nb_data"></p-paginator>
  </div>


</div>
