.main{
  background: #0b0c2b;
  height: auto;
  width: 100%;
  font-family: 'Rubik', sans-serif;

  .gallery{
    padding: 5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    .gallery-paginator{

      position: absolute;
      top: 85vh;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      width: auto;
      height: auto;


      .gallery-dots{
        width: 50px;
        height: 8px;
        border: 1px solid #e83531;
      }
      .active{
        background: #e83531;
      }

    }

    .box{
      background: #0b0c2b;
      //background: red;
      width: 5rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .prev,.next{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        background: #242541;

        i{
          color: white;
          font-size: 30px;
          rotate: -45deg;
        }
      }
    }
    .box:nth-child(1){
      transform: translateX(50%) rotate(45deg);
    }
    .box:nth-child(3){
      transform: translateX(-50%) rotate(45deg);
    }
    img{
      width: 80%;
      height: 700px;
      transition: opacity 0.5s ease-in-out;
    }
  }

  .Anime-Description{
    position: absolute;
    top: 45vh;
    left: 15%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .gender{
      width: auto;
      height: auto;
      background: white;
      border-radius: 2px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #e83531;
      padding: 0.5rem 1rem;
    }
    .anime-name{
      font-size: 60px;
      font-weight: 700;
      max-width: 40rem;
      color: white;
      text-shadow: 2px 2px #e83531;
    }
    .anime-sub-title{
      color: white;
      text-shadow: 2px 2px #0b0c2b;
      font-size: 15px;
    }
    .watch-now{
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      button{
        font-size: 14px;
        text-transform: uppercase;
        border:none;
        background: #e83531;
        color: white;
        border-radius: 5px;
      }
      button:nth-child(1){
        padding: 1rem 2rem;
      }
      button:nth-child(2){
        padding: 1rem 0.5rem;
      }
    }
  }
  .body-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .main-content{
      padding-bottom: 10rem;
      padding-left: 12rem;
      padding-right: 12rem;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      .trending{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 70%;
        .header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.5rem 1rem;
          border-left: 5px solid #e83531;
          .main-title{
            font-size: 30px;
            text-transform: uppercase;
            color: white;
            font-weight: 700;
          }
          .view-all{
            font-size: 13px;
            color: white;
            text-transform: uppercase;
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            cursor: pointer;
          }
        }
        .body{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          //gap: 1rem;
          //padding-left: 1rem;
          .card{
            width: 18rem;
            height: 25rem;
            background: #e83531;
            margin-bottom: 10rem;

            .comments{
              position: absolute;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 0.5rem;
              color:white;
              background: #3e393d;
              padding: 0.3rem 1rem;
              border-radius: 3px;
              font-size: 13px;
              transform: translate(10%,23rem);
            }

            .card-description{
              padding-top: 1rem;

              .information{
                .info{
                  color: white;
                  position: absolute;
                  padding: 0.2rem 1rem;
                  border-radius: 5rem;
                  background: #3c3e55;
                }
                .info:nth-child(2){
                  transform: translateX(110%);
                }
              }

              .title{
                padding-top: 3rem;
                color: white;
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
              }
            }

            .rating{
              position: absolute;
              background: #e83531;
              padding: 0.3rem 1rem;
              border-radius: 3px;
              color: white;
              font-size: 13px;
              transform: translate(10%,20%);
            }

            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .top-view{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 30%;
        .header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.5rem 0.5rem;
          border-left: 5px solid #e83531;
          .main-title{
            font-size: 30px;
            text-transform: uppercase;
            color: white;
            font-weight: 700;
          }
          .view-all{
            font-size: 13px;
            color: white;
            text-transform: uppercase;
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            cursor: pointer;
          }
        }
        .body{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding-left: 1rem;
          .card{
            width: 100%;
            height: 15rem;
            background: #e83531;
           margin-bottom: 2rem;
            .title-container{
              position: absolute;
              width: 25.2rem;
              background: #0b0c2b;
              height: 6rem;
              opacity: 0.4;
              transform: translateY(150%);
            }
            .view{
              position: absolute;
              background: #3c3c3c;
              padding: 0.3rem 1rem;
              border-radius: 3px;
              color: white;
              font-size: 13px;
              transform: translate(10%,20%);
              opacity: 0.8;
            }
            .title{
              position: absolute;
              transform: translate(10%,11rem);
              font-size: 18px;
              max-width: 18rem;
              line-height: 24px;
              color: white;
            }
            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    .second-content{
      padding-bottom: 10rem;
      padding-left: 12rem;
      padding-right: 12rem;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      .most-popular{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 70%;
        .header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.5rem 1rem;
          border-left: 5px solid #e83531;
          .main-title{
            font-size: 30px;
            text-transform: uppercase;
            color: white;
            font-weight: 700;
          }
          .view-all{
            font-size: 13px;
            color: white;
            text-transform: uppercase;
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            cursor: pointer;
          }
        }
        .body{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          //gap: 1rem;
          //padding-left: 1rem;
          .card{
            width: 18rem;
            height: 25rem;
            background: #e83531;
            margin-bottom: 0.5rem;

            .comments{
              position: absolute;
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 0.5rem;
              color:white;
              background: #3e393d;
              padding: 0.3rem 1rem;
              border-radius: 3px;
              font-size: 13px;
              transform: translate(10%,23rem);
            }

            .card-description{
              padding-top: 1rem;

              .information{
                .info{
                  color: white;
                  position: absolute;
                  padding: 0.2rem 1rem;
                  border-radius: 5rem;
                  background: #3c3e55;
                }
                .info:nth-child(2){
                  transform: translateX(110%);
                }
              }

              .title{
                padding-top: 3rem;
                color: white;
                font-weight: 500;
                font-size: 21px;
                line-height: 24px;
              }
            }

            .rating{
              position: absolute;
              background: #e83531;
              padding: 0.3rem 1rem;
              border-radius: 3px;
              color: white;
              font-size: 13px;
              transform: translate(10%,20%);
            }

            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .New-Comment{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 30%;
        .header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.5rem 1rem;
          border-left: 5px solid #e83531;
          .main-title{
            font-size: 17px;
            text-transform: uppercase;
            color: white;
            font-weight: 700;
          }
        }
        .body{
          display: flex;
          flex-direction: column;
          gap: 1rem;
          padding-left: 1rem;
          .commented-anime-information{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            .informations{
              display: flex;
              flex-direction: column;
              gap: 2rem;
              padding: 1rem 1rem;
              .row{
                .info{
                  color: white;
                  position: absolute;
                  padding: 0.2rem 1rem;
                  border-radius: 5rem;
                  background: #3c3e55;
                }
                .info:nth-child(2){
                  transform: translateX(110%);
                }
              }
              .anime-name{
                padding-top: 3rem;
                font-size: 22px;
                color: white;
              }
            }
            .card{
              width: 8rem;
              height: 13rem;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

        }
      }
    }
  }

}
