<div class="main">
  <div class="gallery">
    <div class="box">
      <div class="prev cp" (click)="showPrev()">
        <i class="fa fa-angle-left"></i>
      </div>
    </div>
    <img [src]="animeList[currentIndex].url" alt="">
    <div class="box">
      <div class="next cp" (click)="showNext()">
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
    <div class="gallery-paginator">
      <div *ngFor="let anime of animeList; let i = index" class="gallery-dots cp" [class.active]="i === currentIndex" (click)="currentIndex = i"></div>
    </div>
  </div>
  <div class="Anime-Description">
    <div style="display: flex;flex-direction: row;gap: 1rem">
      <div class="gender" *ngFor="let genre of animeList[currentIndex].gender">
        <span>{{ genre }}</span>
      </div>
    </div>

    <div class="anime-name">
      <span>{{ animeList[currentIndex].name }}</span>
    </div>

    <div class="anime-sub-title">
      <span>{{ animeList[currentIndex].subTitle }}</span>
    </div>

    <div class="watch-now">
      <button>Watch Now</button>
      <button><i class="fa fa-angle-right"></i> </button>
    </div>
  </div>

  <div class="main-content">
    <div class="trending">
      <div class="header">
        <div class="main-title">
          <span>trending now</span>
        </div>
        <div class="view-all">
          <span>view all</span>
          <i class="fa fa-arrow-right-long"></i>
        </div>
      </div>
      <div class="body">
        <div class="card">
          <img src="assets/images/booruti.jpg">
        </div>
        <div class="card">
          <img src="assets/images/naruto.jpg">
        </div>
        <div class="card">
          <!--          <img class-->
        </div>
        <div class="card">
          <!--          <img class-->
        </div>
        <div class="card">
          <!--          <img class-->
        </div>
        <div class="card">
          <!--          <img class-->
        </div>
      </div>
    </div>
    <div class="top-view">
      <div class="header">
        <div class="main-title">
          <span>Top view</span>
        </div>
        <div class="view-all">
          <span>view all</span>
          <i class="fa fa-arrow-right-long"></i>
        </div>
      </div>
      <div class="body">
        <div class="card">
          <img src="assets/images/naruto.jpg">
        </div>
        <div class="card">
          <!--          <img class-->
        </div>
        <div class="card">
          <!--          <img class-->
        </div>
        <div class="card">
          <!--          <img class-->
        </div>
        <div class="card">
          <!--          <img class-->
        </div>
        <div class="card">
          <!--          <img class-->
        </div>
      </div>
    </div>
  </div>
</div>
