<div class="container">
    <img src="assets/images/Anime-Logo.png">
    <div class="items" *ngIf="!hasAdminInRoute()">
      <span (click)="RedirectTo('/home')" [ngClass]="{'active':isRoute('/home')}">Home</span>
      <span (click)="RedirectTo('/categories')"  [ngClass]="{'active':isRoute('/categories')}">Categories</span>
      <span (click)="RedirectTo('/contacts')"  [ngClass]="{'active':isRoute('/contacts')}">Contacts</span>
    </div>
    <div class="items" *ngIf="hasAdminInRoute()">
      <div class="admin-indicator">
        <span>{{'ADMIN'}}</span>
      </div>
    </div>
    <div class="others">
      <input type="text" placeholder="Type here to search your anime ..." *ngIf="search">
      <i class="fa fa-search cp" (click)="Search()"></i>
      <i class="fa fa-user cp" (click)="ToggleUserMenu()"></i>
      <div class="drop-down-menu" *ngIf="UserMenu" [@slideInOut]>
        <span *ngIf="UserId!=''">Welcome <span>{{username}}</span></span>
        <span *ngIf="UserId===''">Welcome Visitor</span>
        <button (click)="UserId===''?RedirectTo('/login'):Signout()">{{UserId === ''?'Login':'Sign Out'}}</button>
      </div>
    </div>
</div>
