<div class="main">
  <div class="main-content">
    <!-- Breadcrumb Begin -->*
    <div class="breadcrumb__links">
      <a href="./index.html"><i class="fa fa-home"></i> Home</a>
      <i class="fa fa-angle-right"></i>
      <a href="./categories.html">Categories</a>
    </div>

    <div class="body">
      <div class="cat-an">
        <div class="cat" *ngFor="let cat of paginatedclient.data;">
          <div class="header">
            <div class="main-title cp">
              <span>{{cat.name}}</span>
            </div>
          </div>
        </div>
        <div class="fxRow fxAlignCenterCenter">
          <p-paginator class="w-100" *ngIf="paginatedclient.pages > 1" (onPageChange)="onClientPageChange($event)"
                       [rows]="paginatedclient.size" [totalRecords]="paginatedclient.nb_data"></p-paginator>
        </div>
      </div>

    </div>
  </div>
</div>
